@charset "UTF-8";

/* 
	$maxW - ширина экрана с которой начинается изменение $value в меньшую сторону экрана до $minWidth (задана в var.scss)
	$minW - ширина экрана на которой изменение $value прекращается на значении $mobSize
*/

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  color: #6a6e77;
  font-size: 16px;
  font-family: "Raleway", "sans-serif";
  font-weight: 500;
  position: relative;
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #f0f4f4;
  line-height: 1.4;
}

body._lock {
  overflow: hidden;
}

body._lock .body-wrapper {
  overflow: hidden;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  padding: 0;
  margin: 0;
}

/* // Счётчик для ul, ol

// .list-counter
.list-counter {
	list-style-type: none;
	counter-reset: item;

	// .list-counter li
	li {
		position: relative;

		//.list-counter li::before
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			counter-increment: item;
			content: counter(item);
		}
	}
} */

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button,
input,
textarea,
fieldset {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

button,
input,
textarea,
select {
  cursor: pointer;
}

input:focus-visible,
textarea:focus-visible,
fieldset:focus-visible,
select:focus-visible {
  outline: none;
}

picture {
  display: flex;
}

picture source {
  width: 0;
  height: 0;
}

picture img {
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  --width: 1180px;
  --padding: 30px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);
}

/*   // Работает как изменение font-weight, но с помощью box-shadow. Из-за чего текст не прыгает
  &:hover {
    text-shadow: 0 0 1px currentColor, 0 0 1px currentColor, 0 0 0.7px currentColor;
  } */

.section__title {
  font-size: calc(32px + 48 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 1.2;
  /* 96px */
  text-transform: uppercase;
}

.header {
  padding-top: calc(16px + 16 * ((100vw - 320px) / 1600));
  background-color: #222;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: calc(16px + 16 * ((100vw - 320px) / 1600));
}

/* .icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: deffault;
		}
		// .icon-menu span,
		// .icon-menu::before,
		// .icon-menu::after
		span,
		&::before,
		&::after {
			content: '';
			position: absolute;
			right: 0;
			width: 100%;
			height: toRem(2);
			background-color: #000;
			transition: all 0.3s ease 0s;
		}
		// .icon-menu span,
		span {
			top: calc(50% - toRem(1));
		}
		// .icon-menu::before
		&::before {
			top: 0;
		}
		// .icon-menu::after
		&::after {
			bottom: 0;
		}
		// .icon-menu.menu-open
		&.menu-open {
			// .icon-menu.menu-open span
			span {
				width: 0;
			}
			// .icon-menu.menu-open::before 
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			// .icon-menu.menu-open::after
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		} 
	}
} */

.footer {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.643);
  padding-top: calc(24px + 16 * ((100vw - 320px) / 1600));
  padding-bottom: calc(24px + 6 * ((100vw - 320px) / 1600));
  background-color: #222;
}

.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: calc(32px + 18 * ((100vw - 320px) / 1600));
}

.footer__logo {
  max-width: calc(230px + 249 * ((100vw - 320px) / 1600));
  max-height: calc(36px + 40 * ((100vw - 320px) / 1600));
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  gap: calc(16px + 16 * ((100vw - 320px) / 1600));
}

.footer__developers-item:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.hero {
  position: relative;
  padding-top: calc(60px + 38 * ((100vw - 320px) / 1600));
  padding-bottom: calc(0px + 50 * ((100vw - 1024px) / (1600 - 1024 + 320)));
  background-color: #222;
  z-index: 2;
}

.no-webp .hero::before{
  background-image: url("../img/wheel.png"); }

.hero::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: calc(208px + 428 * ((100vw - 320px) / 1600));
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  animation: wheel-roll 5s linear infinite;
}

.hero__title {
  display: flex;
  flex-direction: column;
  font-size: calc(44px + 116 * ((100vw - 320px) / 1600));
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
}

.hero__title-down {
  align-self: end;
  margin-top: calc(-20px + -51 * ((100vw - 320px) / 1600));
}

.hero__intro {
  display: flex;
  justify-content: space-between;
  align-items: end;
  line-height: 1.2;
}

.hero__intro-year {
  color: #fff;
}

.hero__intro-tagline {
  max-width: 7.29em;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  color: #d10014;
}

@keyframes wheel-roll {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.about {
  color: #fff;
  padding-top: calc(20px + 72 * ((100vw - 320px) / 1600));
  background-image: linear-gradient(#222 0%, #222 50%, transparent 50%, transparent 100%);
}

.about__bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56vw;
  height: 100%;
  background-image: url("../img/icons/icons.svg#red-bg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__bg::before,
.about__bg::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/icons.svg#tire");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  right: 0;
  height: 25vw;
  pointer-events: none;
}

.about__bg::before {
  top: 0;
  transform: translateY(-27%);
}

.about__bg::after {
  bottom: 0;
  transform: translateY(27%);
}

.about__container {
  padding-top: calc(90px + 61 * ((100vw - 320px) / 1600));
  padding-bottom: calc(90px + 61 * ((100vw - 320px) / 1600));
}

.about__grouptitle {
  --indent: 60px;
  display: flex;
  align-items: center;
  gap: calc(var(--indent) * 2);
}

.about__grouptitle-title {
  position: relative;
  text-align: end;
  padding-top: calc(7px + 7 * ((100vw - 768.9px) / (1600 - 768.9 + 320)));
  padding-bottom: calc(7px + 7 * ((100vw - 768.9px) / (1600 - 768.9 + 320)));
}

.about__grouptitle-title::after {
  content: "";
  position: absolute;
  right: calc(-1 * var(--indent));
  top: 0;
  bottom: 0;
  width: 0.125rem;
  background-color: #fff;
}

.about__grouptitle-title span {
  display: block;
  color: #222;
}

.about__grouptitle-text {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  max-width: 18.79em;
}

.connection {
  padding-top: calc(50px + 70 * ((100vw - 320px) / 1600));
  padding-bottom: calc(30px + 90 * ((100vw - 320px) / 1600));
}

.connection__title {
  text-align: center;
  margin-bottom: calc(32px + 8 * ((100vw - 320px) / 1600));
}

.connection__title span {
  color: #d10014;
}

/* Стили для модального окна */

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  padding: 0.625rem;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: auto;
}

.overlay.overlay--active {
  display: flex;
}

.form {
  padding: calc(40px + 20 * ((100vw - 768.9px) / (1600 - 768.9 + 320)));
  background: #fff;
  border-radius: calc(16px + 16 * ((100vw - 320px) / 1600));
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: calc(24px + 8 * ((100vw - 320px) / 1600));
  display: none;
}

.form__fieldset.form__fieldset--active {
  display: block;
}

.form__title {
  color: #222;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 100%;
  /* 32px */
  text-transform: uppercase;
  margin-bottom: calc(24px + 8 * ((100vw - 320px) / 1600));
}

.form__month {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form__month-btn {
  text-transform: capitalize;
}

.form__month-btn--active {
  color: #d10014;
  text-shadow: 0 0 1px currentColor, 0 0 1px currentColor, 0 0 0.7px currentColor;
}

.form__time {
  display: none;
}

.form__radios {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 0.5rem;
  margin-bottom: calc(24px + 8 * ((100vw - 320px) / 1600));
}

.form__inputs-item {
  color: #222;
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
  background: #f0f4f4;
  flex-basis: calc(50% - 4px);
  padding: 0.75rem 1.25rem;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.form__inputs-item:focus-visible {
  border-color: #d0d0d0;
  opacity: 1;
}

.form__inputs-item::-moz-placeholder {
  color: #222;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

.form__inputs-item::placeholder {
  color: #222;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

.form__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form__buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: calc(20px + 12 * ((100vw - 320px) / 1600));
}

.form__buttons-item {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form__group:not(:last-child) {
  margin-bottom: calc(24px + 8 * ((100vw - 320px) / 1600));
}

.form__group-time {
  display: none;
}

.form-reservation__moment {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

.radio__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radio__input:checked + .radio__label {
  color: #fff;
  background-color: #222;
}

.radio__input:focus-visible + .radio__label {
  border-color: #d10014;
}

.radio__label {
  display: inline-block;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.button {
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 3.125rem;
  transition: 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  border-color: #d10014;
  outline: none;
}

.button:disabled {
  color: #222;
  background-color: #f0f4f4;
  opacity: 0.4;
  pointer-events: none;
}

.button--white {
  color: #222;
  background-color: #fff;
}

.button--gray {
  background-color: #f0f4f4;
  color: #222;
}

.button--red {
  background-color: #d10014;
  color: #fff;
}

.button--red:focus-visible {
  border-color: #222;
}

@media (min-width: 1920px) {
  .section__title {
    font-size: 80px;
  }

  .header {
    padding-top: 32px;
  }

  .header__wrapper {
    gap: 32px;
  }

  .footer {
    padding-top: 40px;
  }

  .footer {
    padding-bottom: 30px;
  }

  .footer__container {
    row-gap: 50px;
  }

  .footer__logo {
    max-width: 479px;
  }

  .footer__logo {
    max-height: 76px;
  }

  .footer__bottom {
    gap: 32px;
  }

  .hero {
    padding-top: 98px;
  }

  .hero {
    padding-bottom: 50px;
  }

  .hero::before {
    width: 636px;
  }

  .hero__title {
    font-size: 160px;
  }

  .hero__title-down {
    margin-top: -71px;
  }

  .hero__intro-tagline {
    font-size: 24px;
  }

  .about {
    padding-top: 92px;
  }

  .about__container {
    padding-top: 151px;
  }

  .about__container {
    padding-bottom: 151px;
  }

  .about__grouptitle-title {
    padding-top: 14px;
  }

  .about__grouptitle-title {
    padding-bottom: 14px;
  }

  .about__grouptitle-text {
    font-size: 24px;
  }

  .connection {
    padding-top: 120px;
  }

  .connection {
    padding-bottom: 120px;
  }

  .connection__title {
    margin-bottom: 40px;
  }

  .form {
    padding: 60px;
  }

  .form {
    border-radius: 32px;
  }

  .form__fieldset {
    row-gap: 32px;
  }

  .form__title {
    font-size: 32px;
  }

  .form__title {
    margin-bottom: 32px;
  }

  .form__inputs {
    margin-bottom: 32px;
  }

  .form__buttons {
    margin-top: 32px;
  }

  .form__group:not(:last-child) {
    margin-bottom: 32px;
  }

  .radio__label {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .about__grouptitle {
    --indent: 40px;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding-bottom: 0px;
  }
}

@media (max-width: 1024.9px) {
  .about__grouptitle {
    --indent: 24px;
  }
}

@media (max-width: 768.9px) {
  .container {
    --padding: 15px;
  }

  .hero__title {
    margin-bottom: 2rem;
  }

  .about__bg::before {
    transform: translateY(0);
    top: calc(5px + -185 * ((100vw - 320px) / 1600));
  }

  .about__bg::after {
    transform: translateY(0);
    bottom: calc(5px + -185 * ((100vw - 320px) / 1600));
  }

  .about__grouptitle {
    --indent: 12px;
    flex-direction: column;
    align-items: start;
  }

  .about__grouptitle-title {
    padding-top: 7px;
  }

  .about__grouptitle-title {
    padding-bottom: 7px;
  }

  .about__grouptitle-title {
    text-align: left;
  }

  .about__grouptitle-title::after {
    top: auto;
    right: 0;
    left: 0;
    bottom: calc(-1 * var(--indent));
    width: 100%;
    height: 0.125rem;
  }

  .about__grouptitle-title span {
    display: inline-block;
  }

  .form {
    padding: 40px;
  }

  .form {
    padding-top: calc(24px + 16 * ((100vw - 320px) / 1600));
    padding-bottom: calc(24px + 16 * ((100vw - 320px) / 1600));
    padding-left: calc(16px + 24 * ((100vw - 320px) / 1600));
    padding-right: calc(16px + 24 * ((100vw - 320px) / 1600));
  }

  .form__radios-direction .radio__label {
    width: 100%;
  }

  .form__radios-direction .form__radios-item {
    width: 100%;
    flex-grow: 1;
  }

  .form__inputs-item {
    flex-basis: 100%;
  }
}

@media (max-width: 768.9px) and (max-width: 320px) {
  .about__bg::before {
    top: 5px;
  }

  .about__bg::after {
    bottom: 5px;
  }

  .form {
    padding-top: 24px;
  }

  .form {
    padding-bottom: 24px;
  }

  .form {
    padding-left: 16px;
  }

  .form {
    padding-right: 16px;
  }
}

@media (max-width: 320px) {
  .section__title {
    font-size: 32px;
  }

  .header {
    padding-top: 16px;
  }

  .header__wrapper {
    gap: 16px;
  }

  .footer {
    padding-top: 24px;
  }

  .footer {
    padding-bottom: 24px;
  }

  .footer__container {
    row-gap: 32px;
  }

  .footer__logo {
    max-width: 230px;
  }

  .footer__logo {
    max-height: 36px;
  }

  .footer__bottom {
    gap: 16px;
  }

  .hero {
    padding-top: 60px;
  }

  .hero::before {
    width: 208px;
  }

  .hero__title {
    font-size: 44px;
  }

  .hero__title-down {
    margin-top: -20px;
  }

  .hero__intro-tagline {
    font-size: 16px;
  }

  .about {
    padding-top: 20px;
  }

  .about__container {
    padding-top: 90px;
  }

  .about__container {
    padding-bottom: 90px;
  }

  .about__grouptitle-text {
    font-size: 16px;
  }

  .connection {
    padding-top: 50px;
  }

  .connection {
    padding-bottom: 30px;
  }

  .connection__title {
    margin-bottom: 32px;
  }

  .form {
    border-radius: 16px;
  }

  .form__fieldset {
    row-gap: 24px;
  }

  .form__title {
    font-size: 24px;
  }

  .form__title {
    margin-bottom: 24px;
  }

  .form__inputs {
    margin-bottom: 24px;
  }

  .form__buttons {
    margin-top: 20px;
  }

  .form__group:not(:last-child) {
    margin-bottom: 24px;
  }

  .radio__label {
    font-size: 14px;
  }
}

@media (max-width: 768.9px) and (min-width: 768px) {
  .about__bg::before {
    top: -180px;
  }

  .about__bg::after {
    bottom: -180px;
  }
}

@media (max-width: 768.9px) and (min-width: 768.9px) {
  .form {
    padding-top: 40px;
  }

  .form {
    padding-bottom: 40px;
  }

  .form {
    padding-left: 40px;
  }

  .form {
    padding-right: 40px;
  }
}

@media (any-hover: hover) {
  .footer__developers-item:hover span {
    color: #fff;
  }

  .form__inputs-item:hover {
    opacity: 1;
  }

  .button--white:hover {
    background-color: #e4f0f0;
  }

  .button--gray:hover {
    background-color: #e4f0f0;
  }

  .button--red:hover {
    background-color: #222;
  }
}

.webp .hero::before{ background-image: url(../img/wheel.webp); }